{% extends "base/main.html" %}

{% block title %}Home{% endblock title %}

{% block content %}

{% if request.user.is_authenticated %}
    {{ reqeust.user }}
    <form method="post" action="{% url 'logout' %}">
        {% csrf_token %}
        <button type="submit">logout</button>
    </form>
{% endif %}

<br>

<h1>My todo list</h1>
<a href="{% url 'create' %}">Add list</a>


<form method = "get" action = "{% url 'tasks' %}">
    <input type = "text" value = "{{input_search}}" name = "input_search">
    <input type = "submit" value = "search">
</form>
<table>

    <tr>
        <th>Items</th>
    </tr>
    {% for task in tasks %}
    <tr>
        <td>
            {{ task.title }}
        </td>
        <td>
            <a href="{% url 'task' task.id %}">View</a>
        </td>
        <td>
            <a href="{% url 'update' task.id %}">Edit</a>
        </td>
        <td>
            <a href="{% url 'delete' task.id %}">Delete</a>
        </td>
    </tr>
    {% empty %}
    <h3>List is empty</h3>
    {% endfor %}
</table>
{% endblock content %}




