
{% if request.user.is_authenticated %}
    {{ reqeust.user }}
    <a href="">Logout</a>
{% else %}
    <a href="">Login</a>
{% endif %}

<br>

<h1>My todo list</h1>
<a href="{% url 'create' %}">Add list</a>
<table>

    <tr>
        <th>Items</th>
    </tr>
    {% for task in tasks %}
    <tr>
        <td>
            {{ task.title }}
        </td>
        <td>
            <a href="{% url 'task' task.id %}">View</a>
        </td>
        <td>
            <a href="{% url 'update' task.id %}">Edit</a>
        </td>
        <td>
            <a href="{% url 'delete' task.id %}">Delete</a>
        </td>
    </tr>
    {% empty %}
    <h3>List is empty</h3>
    {% endfor %}
</table>